:root {
  --merah: #dc3545;
  --merah-biasa: #ff1515;
}

.floating-filter {
  background-color: #448aff;
  color: white;
  height: 25px;
  width: 25px;
  display: grid;
  place-content: center;
  padding: 2em;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0.2px 2.2px rgba(0, 0, 0, 0.02),
    0 0.5px 5.3px rgba(0, 0, 0, 0.028), 0 0.9px 10px rgba(0, 0, 0, 0.035),
    0 1.6px 17.9px rgba(0, 0, 0, 0.042), 0 2.9px 33.4px rgba(0, 0, 0, 0.05),
    0 7px 80px rgba(0, 0, 0, 0.07);
  position: fixed;
  z-index: 100;
  bottom: 2em;
  right: 2em;
}

.floating-filter > i {
  font-size: 1.5em;
}

.pcoded .pcoded-header[header-theme="theme1"] {
  background: var(--merah);
}

.pcoded[fream-type="theme1"][theme-layout="vertical"] .page-header {
  background: var(--merah);
}

.pcoded[theme-layout="vertical"]
  .pcoded-navbar[active-item-theme="theme1"]
  .pcoded-item
  > li.active
  > a {
  background: var(--merah);
}

.pcoded[theme-layout="vertical"]
  .pcoded-navbar[active-item-theme="theme1"]
  .pcoded-item
  > li:hover
  > a,
.pcoded[theme-layout="vertical"]
  .pcoded-navbar[active-item-theme="theme1"]
  .pcoded-item
  > li:hover:hover
  > a {
  background: var(--merah);
}

.pcoded[theme-layout="vertical"]
  .pcoded-navbar[active-item-theme="theme1"]
  .pcoded-item
  > li:hover
  > a,
.pcoded[theme-layout="vertical"]
  .pcoded-navbar[active-item-theme="theme1"]
  .pcoded-item
  > li:hover:hover
  > a {
  background-color: var(--merah);
}

.loader-bg .loader-bar {
  background-color: var(--merah);
}

.pcoded .pcoded-navbar .pcoded-navigation-label[menu-title-theme="theme1"] {
  color: var(--merah);
}

.page-item.active .page-link {
  background-color: var(--merah) !important;
  border-color: var(--merah) !important;
}

.active > .page-link {
  color: #ffffff !important;
}

.page-link {
  color: var(--merah-biasa) !important;
}

.grid-custom {
  display: grid;
}

.place-items-center-custom {
  place-items: center;
}

.icon-eye:before {
  font-size: 1.5em;
}

a:focus,
a:hover {
  color: var(--merah-biasa);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 21, 21, 0.1);
}

.table-hover tbody tr:hover {
  background-color: rgba(255, 21, 21, 0.1);
}

.form-control {
  border: 1px solid #ff1515;
}

.form-control:focus {
  border: 1px solid #ff1515;
}

.table-ket {
  width: 20%;
}

.table-isi {
  width: 80%;
}

.table-kastem {
  width: 100%;
}

.table-kastem tr {
  height: 3em;
}
